<!DOCTYPE html>
<html lang="en">
    <!--Head-->
    <%- include('../partials/head') %>
<body>
    <section id="all-container">
        <!--Header-->
        <%- include('../partials/header') %>
        <!--Modal de login-->
        <%- include('../partials/loginModal') %>       
        <!--NavBar lateral-->
        <%- include('../partials/navBar') %> 
        <!--Contenedor de la página-->
        <main class="page-container" id="page-container">
            <!--Barra de busqueda-->
            <%- include('../partials/searchBar') %>
            <!--Carrito de compras-->
            <section class="cart-section" id="cart-section">
                <% if(bike){ %>
                <div class="photos-box sombra"> 
                    <div class="bike-name" id="bike-name"> 
                        <h2><%= bike.model%></h2> 
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="photo1" role="tabpanel" aria-labelledby="home-tab">
                            <figure>
                                <img src="/asset/img/productos/<%= imagesNoCover[0].name%>" alt="<%= bike.model%>">
                            </figure>
                        </div>
                        <div class="tab-pane fade" id="photo2" role="tabpanel" aria-labelledby="profile-tab">
                            <figure class="pre-image-figure">
                                <img src="/asset/img/productos/<%= imagesNoCover[1].name%>" alt="<%= bike.model%>">
                            </figure> 
                        </div>
                        <div class="tab-pane fade" id="photo3" role="tabpanel" aria-labelledby="contact-tab">
                            <figure class="pre-image-figure">
                                <img src="/asset/img/productos/<%= imagesNoCover[2].name%>" alt="<%= bike.model%>">
                            </figure>
                        </div>
                        <div class="tab-pane fade" id="photo4" role="tabpanel" aria-labelledby="contact-tab">
                            <figure class="pre-image-figure">
                                <img src="/asset/img/productos/<%= imagesNoCover[3].name%>" alt="<%= bike.model%>">
                            </figure>
                        </div>
                    </div>
                    <ul class="nav nav-tabs w-100 mt-1" id="myTab" role="tablist">
                        <li class="nav-item w-25" role="presentation">
                            <a class="nav-link p-0 active" id="photo1-tab" data-toggle="tab" href="#photo1" role="tab" aria-controls="photo1" aria-selected="true">
                                <figure>
                                    <img src="/asset/img/productos/<%= imagesNoCover[0].name%>" alt="<%= bike.model%>">
                                </figure> 
                            </a>
                        </li>
                        <li class="nav-item w-25" role="presentation">
                            <a class="nav-link p-0" id="photo2-tab" data-toggle="tab" href="#photo2" role="tab" aria-controls="photo2" aria-selected="true">
                                <figure class="pre-image-figure">
                                    <img src="/asset/img/productos/<%= imagesNoCover[1].name%>" alt="<%= bike.model%>">
                                </figure> 
                            </a>
                        </li>
                        <li class="nav-item w-25" role="presentation">
                            <a class="nav-link p-0" id="photo3-tab" data-toggle="tab" href="#photo3" role="tab" aria-controls="photo3" aria-selected="false">
                                <figure class="pre-image-figure">
                                    <img src="/asset/img/productos/<%= imagesNoCover[2].name%>" alt="<%= bike.model%>">
                                </figure>
                            </a>
                        </li>
                        <li class="nav-item w-25" role="presentation">
                            <a class="nav-link p-0" id="photo4-tab" data-toggle="tab" href="#photo4" role="tab" aria-controls="photo4" aria-selected="false">
                                <figure class="pre-image-figure">
                                    <img src="/asset/img/productos/<%= imagesNoCover[3].name%>" alt="<%= bike.model%>">
                                </figure>
                            </a>
                        </li>
                    </ul>          
                </div>  
                <div class="check-form white-back  sombra p-1 mt-1 d-flex" id="check-form">
                    <div class="div-checkboxes-labels w-md-75" id="checkbox-labels">
                        <div>
                            <p class="text-right">Precio:</p>
                        </div>
                        <div class="div-label-checkbox">
                            <p class="p-label-checkbox text-right">
                                <input class="hide-checkbox" type="checkbox" name="patentamiento" id="patentamiento">
                                <span class="checkmark"></span>
                                <label class="mb-0" for="patentamiento">Patentamiento:</label>
                            </p>
                        </div>
                        <!--
                        <div class="div-label-checkbox">
                            <p class="p-label-checkbox text-right">
                                <input class="hide-checkbox" type="checkbox" name="flete" id="flete">
                                <span class="checkmark"></span>
                                <label class="mb-0" for="flete">Flete:</label>
                            </p>
                        </div>-->
                        <div class="div-label-checkbox">
                            <p class="p-label-checkbox text-right">
                                <input class="hide-checkbox" type="checkbox" name="formulario" id="formulario">
                                <span class="checkmark"></span>
                                <label class="mb-0" for="formulario">Formularios:</label>
                            </p>
                        </div>
                    </div>                    
                    <div class="w-md-25 prices-div" id="prices-div">
                        <p class="d-flex justify-content-between"><span><%= bike.coin %></span><span><%=(bike.gross * bike.iva)/100 + bike.gross %></span></p>
                        <p class="d-flex justify-content-between"><span><%= bike.coin %></span><span><%=(((bike.gross * bike.iva)/100 + bike.gross)*6)/100 %></span></p>
             <!--       <p class="d-flex justify-content-between"><span><%= bike.coin %></span><span>100</span></p> -->
                        <p class="d-flex justify-content-between"><span><%= bike.coin %></span><span>500</span></p>
                    </div>                    
                </div>    
                <div class="final-price-div white-back border-top border-dark sombra" id="final-price-div">
                    <p class="d-flex justify-content-end" style="font-size:1.5em"><span>Total:<%= bike.coin%> <%=(bike.gross * bike.iva)/100 + bike.gross %></span></p>
                </div> 
                <div class="buttons-cart w-100 d-flex" id="buttons-cart">
                    <div class="div-button-cart pr-1 w-50" id="button-reset">
                        <a class="d-flex align-items-center justify-content-center text-dark font-weight-bolder sombra  button-cart w-100" href="/productCart"><span>Vaciar Carrito</span></a>
                    </div>
                    <div class="div-button-cart pl-1 w-50" id="button-buy">
                        <a class="d-flex align-items-center justify-content-center text-dark font-weight-bolder sombra  button-cart w-100" href="/buy/<%=bike.id%>"><span>Comprar</span></a>
                    </div>
                </div>
            <% } else {%>
            <figure>
                <div class="carritovacio">
                   <img class="imgvacio" src="/asset/img/carrito/carritovacio.png"alt="foto moto">
                     <div class="frase">
                        <h1>En cada kilometro... hay una historia.</h1>
                         <a href="/products"> No tenes una moto en el carrtio...Te esperamos.</a>
                     </div>
                </div>
            </figure>    
            <% } %>
                <!--Publicidad--> 
                <aside class="publicidad d-none d-lg-block sombra" id="publicidad">
                    <figure>
                        <img src="/asset/img/publicidad/herreria-leke.jpg" alt="publicidad">
                    </figure>
                    <div class="white-back">
                        <p>
                            Se realizan trabajos personalizados para cada cliente. Somos fabricantes confiables, serios y responsables.
                        </p>
                        <div class="row">
                            <a class="text-info col-6 text-center" style="font-size: 2em;" href="https://www.facebook.com/HerreriaLeke"><i class="fab fa-facebook"></i></a>
                            <a class="text-info col-6 text-center" style="font-size: 2em;" href="https://www.instagram.com/herrerialeke"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </aside>                          
            </section>
            <!--Mapa-->
            <section class="map-section w-100 white-back" id="map-section">
                <div class="title-map w-100" id="title-map">
                    <h4>Tu concesionario más cercano:</h4>
                </div>
                <div class="map-div w-100" id="map-div">
                    <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.1866261820574!2d-58.445864885197125!3d-34.54882986210211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb436efe09303%3A0xfb39818e7624ac76!2sDigital%20House!5e0!3m2!1ses-419!2sar!4v1593543699353!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </section>    
        </main>
        <!--Footer-->
        <%- include('../partials/footer') %> 
    </section>
<!--Script de boostrap-->
<%- include('../partials/scripts') %>   
</body>
</html>