<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
<body>
    <section id="all-container">
      <!--Header-->
      <%- include('../partials/headerAdmin') %>
      <!--Modal de login-->
      <%- include('../partials/loginModal') %>
      <!-- Cuerpo -->
      <main class="container-fluid">                               
          <!--Administrador de productos-->                          
          <section class=" container rows">
            <article class="col-12">
              <h2 class="display-4 text-white o text-center cartel ">Administrador de Productos</h2>
            </article>
            <article class="col-12">
              <a class="btn boton-agregar" href="/productAdd"><i class="fas fa-plus-circle"></i>Agregar</a>
              <% if(user.profile == 9){ %> 
              <a class="btn boton-agregar" href="/adminUser">Administrar Usuarios</a>
              <% }%>
            </article>
            <article class="col-12" >
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Ver</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                  </tr>
                </thead>
                <tbody>
                  <% bikes.forEach(bike =>{%>
                  <tr>  
                    <td><%= bike.id%></td>
                    <td><%= bike.brand.name %></td>  
                    <td><%= bike.model %></td>                                         
                    <td><a class="btn-table" href="/productDetail/<%= bike.id %>"> <i class="far fa-eye btn-table"></i></a></td>
                    <td><a class="btn-table" href="/edit/<%= bike.id%>"> <i class="fas fa-pencil-alt"></i></a></td>
                    <td>
                      <form action="/delete/<%= bike.id%>?_method=DELETE" method="post">       
                        <button class="btn-table" type="submit"><i class="fas fa-trash-alt"></i></button>             
                      </form>
                    </td>
                  </tr> 
                <% }); %>                                       
                </tbody>
              </table> 
            </article>       
          </section>                          
          <a href="/" class="btm btn-primary">Volver</a>
        </main>                                
          <!--Footer-->
          <%- include('../partials/footer.ejs') %>
      </section> 
      
      <!--Script de boostrap-->
      <%- include('../partials/scripts') %>
  
</body>
</html>