<!DOCTYPE html>
<html lang="en">
    <!--Head-->
    <%- include('../partials/head') %>
<body>
    <section id="all-container">
        <!--Header-->
        <%- include('../partials/header') %>
        <!--Modal de login-->
        <%- include('../partials/loginModal') %>        
        <!--NavBar lateral-->
        <%- include('../partials/navBar') %>      
        <!--Contenedor-->        
        <main class="page-container" id="page-container">  
            <!--Barra de busqueda-->
            <%- include('../partials/searchBar') %>                 
            <!--Carrousel-->
            <%- include('../partials/carrousel') %>
            <!--Productos-->
            <div class="products-container" id="products-container">
                <div class="titulo-product_div col-12 sombra" id="titulo-product_div">
                    <h2>Motos para vos</h2>
                </div>
                <section class="container-fluid">
                    <div class="row products" id="productos">
                        <% for(let i = 0; i < bikes.length ; i++){%>
                            <div class="product-box col-12 col-md-6 col-lg-4">                            
                                <article class="card border-dark sombra">
                                    <h5><span class="product-name"><%=bikes[i].brand.name%></span></h5>
                                    <a href="/productDetail/<%=bikes[i].id%>">
                                        <img src="/asset/img/productos/<%= bikes[i].image[0].name%>" class="card-img-top" alt="<%=bikes[i].model%>">
                                    </a>
                                    <div class="card-body">
                                        <h5 class="card-title d-flex justify-content-between"><span class="product-name"><%=bikes[i].model%></span><span class="product-price"><%= bikes[i].coin%> <%=((bikes[i].gross * bikes[i].iva)/100 + bikes[i].gross).toString().replace(/\B(?=(\d{3})+(?!\d))/g,
                                            ".") %></span></h5>
                                        <p class="d-none d-lg-block"><%= bikes[i].description%></p>
                                    </div>
                                </article>
                            </div> 
                            <%};%>                                                     
                    </div>                
                </section>
            </div>
        </main>
        <!--Footer-->
        <%- include('../partials/footer') %>
    </section>
    
    <!--Script de boostrap-->
    <%- include('../partials/scripts') %>
    </body>
    </html>
    