<!DOCTYPE html>
<html lang="en">
    <!--Head-->
    <%- include('../partials/head') %>
<body>
    <section id="all-container">
        <!--Header-->
        <%- include('../partials/header') %>
        <!--Modal de login-->
        <%- include('../partials/loginModal') %>        
        <!--NavBar lateral-->
        <%- include('../partials/navBar') %>      
        <!--Contenedor-->        
        <main class="page-container" id="page-container">  
            <!--Barra de busqueda-->
            <%- include('../partials/searchBar') %>                 
            <!--Carrousel-->
            <%- include('../partials/carrousel') %>
            <!--Productos-->
            <div class="products-container" id="products-container">
                <div class="titulo-product_div col-12 sombra" id="titulo-product_div">
                    <h2>Motos para vos</h2>
                </div>
                <section class="container-fluid">
                    <div class="row products" id="productos">
                        <div class="product-box col-12 col-md-6 col-lg-4">
                            <article class="card border-dark sombra">
                                <a href="/productDetail">
                                    <img src="/asset/img/productos/yamaha-tracer-900/completa2.jpg" class="card-img-top" alt="yamaha tracer 900">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-between"><span class="product-name">Yamaha Tracer 900</span> <span class="product-price">u$s30.000</span></h5>
                                    <p class="d-none d-lg-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nam odio officiis dolores vel culpa provident. Iste error odit consequatur quibusdam aperiam eveniet, ducimus commodi voluptatum illo explicabo eum. Corporis!</p>
                                </div>
                            </article>
                        </div>
                        <div class="product-box col-12 col-md-6 col-lg-4">
                            <article class="card border-dark sombra">
                                <a href="/productDetail">
                                    <img src="/asset/img/productos/yamaha-tracer-900/completa2.jpg" class="card-img-top" alt="yamaha tracer 900">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-between"><span class="product-name">Yamaha Tracer 900</span> <span class="product-price">u$s30.000</span></h5>
                                    <p class="d-none d-lg-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nam odio officiis dolores vel culpa provident. Iste error odit consequatur quibusdam aperiam eveniet, ducimus commodi voluptatum illo explicabo eum. Corporis!</p>
                                </div>
                            </article>
                        </div>   
                        <div class="product-box col-12 col-md-6 col-lg-4">
                            <article class="card border-dark sombra">
                                <a href="/productDetail">
                                    <img src="/asset/img/productos/yamaha-tracer-900/completa2.jpg" class="card-img-top" alt="yamaha tracer 900">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-between"><span class="product-name">Yamaha Tracer 900</span> <span class="product-price">u$s30.000</span></h5>
                                    <p class="d-none d-lg-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nam odio officiis dolores vel culpa provident. Iste error odit consequatur quibusdam aperiam eveniet, ducimus commodi voluptatum illo explicabo eum. Corporis!</p>
                                </div>
                            </article>
                        </div>   
                        <div class="product-box col-12 col-md-6 col-lg-4">
                            <article class="card border-dark sombra">
                                <a href="/productDetail">
                                    <img src="/asset/img/productos/yamaha-tracer-900/completa2.jpg" class="card-img-top" alt="yamaha tracer 900">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-between"><span class="product-name">Yamaha Tracer 900</span> <span class="product-price">u$s30.000</span></h5>
                                    <p class="d-none d-lg-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nam odio officiis dolores vel culpa provident. Iste error odit consequatur quibusdam aperiam eveniet, ducimus commodi voluptatum illo explicabo eum. Corporis!</p>
                                </div>
                            </article>
                        </div>   
                        <div class="product-box col-12 col-md-6 col-lg-4">
                            <article class="card border-dark sombra">
                                <a href="/productDetail">
                                    <img src="/asset/img/productos/yamaha-tracer-900/completa2.jpg" class="card-img-top" alt="yamaha tracer 900">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-between"><span class="product-name">Yamaha Tracer 900</span> <span class="product-price">u$s30.000</span></h5>
                                    <p class="d-none d-lg-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nam odio officiis dolores vel culpa provident. Iste error odit consequatur quibusdam aperiam eveniet, ducimus commodi voluptatum illo explicabo eum. Corporis!</p>
                                </div>
                            </article>
                        </div>   
                        <div class="product-box col-12 col-md-6 col-lg-4">
                            <article class="card border-dark sombra">
                                <a href="/productDetail">
                                    <img src="/asset/img/productos/yamaha-tracer-900/completa2.jpg" class="card-img-top" alt="yamaha tracer 900">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-between"><span class="product-name">Yamaha Tracer 900</span> <span class="product-price">u$s30.000</span></h5>
                                    <p class="d-none d-lg-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nam odio officiis dolores vel culpa provident. Iste error odit consequatur quibusdam aperiam eveniet, ducimus commodi voluptatum illo explicabo eum. Corporis!</p>
                                </div>
                            </article>
                        </div>   
                        <div class="product-box col-12 col-md-6 col-lg-4">
                            <article class="card border-dark sombra">
                                <a href="/productDetail">
                                    <img src="/asset/img/productos/yamaha-tracer-900/completa2.jpg" class="card-img-top" alt="yamaha tracer 900">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-between"><span class="product-name">Yamaha Tracer 900</span> <span class="product-price">u$s30.000</span></h5>
                                    <p class="d-none d-lg-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nam odio officiis dolores vel culpa provident. Iste error odit consequatur quibusdam aperiam eveniet, ducimus commodi voluptatum illo explicabo eum. Corporis!</p>
                                </div>
                            </article>
                        </div>   
                        <div class="product-box col-12 col-md-6 col-lg-4">
                            <article class="card border-dark sombra">
                                <a href="/productDetail">
                                    <img src="/asset/img/productos/yamaha-tracer-900/completa2.jpg" class="card-img-top" alt="yamaha tracer 900">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-between"><span class="product-name">Yamaha Tracer 900</span> <span class="product-price">u$s30.000</span></h5>
                                    <p class="d-none d-lg-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nam odio officiis dolores vel culpa provident. Iste error odit consequatur quibusdam aperiam eveniet, ducimus commodi voluptatum illo explicabo eum. Corporis!</p>
                                </div>
                            </article>
                        </div>   
                        <div class="product-box col-12 col-md-6 col-lg-4">
                            <article class="card border-dark sombra">
                                <a href="/productDetail">
                                    <img src="/asset/img/productos/yamaha-tracer-900/completa2.jpg" class="card-img-top" alt="yamaha tracer 900">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-between"><span class="product-name">Yamaha Tracer 900</span> <span class="product-price">u$s30.000</span></h5>
                                    <p class="d-none d-lg-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nam odio officiis dolores vel culpa provident. Iste error odit consequatur quibusdam aperiam eveniet, ducimus commodi voluptatum illo explicabo eum. Corporis!</p>
                                </div>
                            </article>
                        </div>                                                     
                    </div>                
                </section>
            </div>
        </main>
        <!--Footer-->
        <%- include('../partials/footer') %>
    </section>
    
    <!--Script de boostrap-->
    <%- include('../partials/scripts') %>
    </body>
    </html>
    