<!DOCTYPE html>
<html lang="en">
    <!--Head-->
    <%- include('../partials/head') %>
<body>
    <section id="all-container">
        <!--Header-->
        <%- include('../partials/header') %>
        <!--Modal de login-->
        <%- include('../partials/loginModal') %>        
        <!--NavBar lateral-->
        <%- include('../partials/navBar') %>      
        <!--Contenedor-->        
        <main class="page-container" id="page-container">  
            <!--Barra de busqueda-->
            <%- include('../partials/searchBar') %>                 
            <!--Carrousel-->
            <%- include('../partials/carrousel') %>
            <!--Productos-->
            <div class="products-container" id="products-container">
                <div class="titulo-product_div col-12 sombra" id="titulo-product_div">
                    <h2>Motos para vos</h2>
                </div>
                <section class="container-fluid">
                    <div class="row products" id="productos">
                        <% for(let i = 1; i < 7; i++){%>
                            <div class="product-box col-12 col-md-6 col-lg-4">                            
                                <article class="card border-dark sombra">
                                    <h5><span class="product-name"><%=motos[i].marca%></span></h5>
                                    <a href="/productDetail/<%=motos[i].id%>">
                                        <img src="/asset/img/productos/<%=motos[i].imagenPortada%>" class="card-img-top" alt="<%=motos[i].modelo%>">
                                    </a>
                                    <div class="card-body">
                                        <h5 class="card-title d-flex justify-content-between"><span class="product-name"><%=motos[i].modelo%></span><span class="product-price"><% if(motos[i].moneda == 'peso'){%>$
                                        <%} else if (motos[i].moneda == 'dolar'){%>u$s<%}else{%>€<%}%>
                                            <%=(motos[i].bruto * motos[i].iva)/100 + motos[i].bruto %></span></h5>
                                        <p class="d-none d-lg-block"><%= motos[i].descripcion%></p>
                                    </div>
                                </article>
                            </div> 
                            <%};%>                                                     
                    </div>                
                </section>
            </div>
        </main>
        <!--Footer-->
        <%- include('../partials/footer') %>
    </section>
    
    <!--Script de boostrap-->
    <%- include('../partials/scripts') %>
    </body>
    </html>
    