<!DOCTYPE html>
<html lang="en">
    <!--Head-->
    <%- include('../partials/head') %>
<body>
    <section id="all-container">
        <!--Header-->
        <%- include('../partials/header') %>
        <!--Modal de login-->
        <%- include('../partials/loginModal') %>        
        <!--NavBar lateral-->
        <%- include('../partials/navBar') %>      
        <!--Contenedor-->        
        <main class="page-container" id="page-container">  
            <!--Barra de busqueda-->
            <%- include('../partials/searchBar') %>                   
            <!--Nosotros-->
            <div class="card-columns">
                <div class="card">
                  <img class ="logosito" src="/asset/img/Nosotros/MS-Logo-01.png" class="card-img-top1" alt="Logo Moto Style">
                  <div class="card-body">
                    <h5 class="card-title text-center">Tenemos el compromiso público de crecer cada año.Contamos con una extensa experiencia en la comercialización automotriz, que nos ha permitido desarrollar altísimos estándares de calidad en todas las facetas sobre la atención que brindamos.</h5>
                    <p class="card-text"></p>
                  </div>
                </div>
                <div class="card p-3">
                  <blockquote class="blockquote mb-0 card-body text-center text-danger">
                    <p>Valoramos enormemente el sentimiento logrado, que mantenemos con nuestros clientes a través de nuestros productos, servicios y experiencias.</p>
                    
                  </blockquote>
                </div>
                <div class="card">
                  <img class="logosito3" src="/asset/img/Nosotros/concesionaria.jpg" class="card-img-top2" alt="Foto concesionaria">
                  <div class="card-body ">
                    <h5 class="card-title text-center">Concesionarias</h5>
                    <p class="card-text text-center">Acercate a la sucursal mas cercana, y no te quedes sin la oportunidad de probar la moto que queres que te acompañe en tus viajes</p>
                    <p class="card-text"><small class="text-muted">Llamanos y te esperamos.</small></p>
                  </div>
                </div>
                <div class="card bg-dark text-white text-center p-3">
                  <blockquote class="blockquote mb-0">
                    <p> LIDER MUNDIAL EN LA REALIZACION DE SUEÑOS Y EXPERIENCIAS EXTRAORDINARIAS.</p>
                </div>
                <div class="card text-center border border-dark">
                  <div class="card-body border border-dark">
                    <h5 class="card-title">Concesionaria Tigre</h5>
                    <p class="card-text text-center"><br>Comunicate con nosotros para lo que necesites<br>+549-11-3333-333</p>
                    <p class="card-text"><small class="text-muted">Todos los derechos reservados</small></p>
                  </div>
                </div>
                <div class="card">
                  <img class="logosito2" src="/asset/img/Nosotros/MS-Logo-01.png" class="card-img-top" alt="Logo Moto Style">
                </div>
                <div class="card p-3 text-right border border-dark">
                  <blockquote class="blockquote mb-0 text-center">
                    <p>Tres estudiantes emprendedores que desarrollamos y dimos vida a <br>MOTO STYLE</p>
                    <footer class=>
                      <small>
                       Leke-Damian-China <cite title="Source Title"></cite>
                      </small>
                    </footer>
                  </blockquote>
                </div>
                <div class="card">
                  <div class="card-body p-3">
                    <h5 class="card-title text-center ">VISION</h5>
                    <p class="card-text text-center">Ser un concesionario líder e innovador en el sector, manteniéndose en constante crecimiento y desarrollo, conformado por un equipo de profesionales que brinde un servicio de calidad a los clientes, logrando sentirse orgulloso de estar haciendo el mejor trabajo posible.</p>
                  </div>
                </div>
              </div>
     </main>
      <!--Footer-->
      <%- include('../partials/footer') %>
</section>

<!--Script de boostrap-->
<%- include('../partials/scripts') %>
</body>
</html>
