<!DOCTYPE html>
<html lang="en">
    <!--Head-->
    <%- include('../partials/head') %>
<body class="bodych">
    <section id="all-container">
        <!--Header-->
        <%- include('../partials/header') %>        
        <!--Modal de login-->
        <%- include('../partials/loginModal') %>  
        <!--NavBar lateral-->
        <%- include('../partials/navBar') %>      

        <!--Contenedor-->  

        <main class="page-container" id="page-container">  

            <!--Barra de busqueda-->

            <%- include('../partials/searchBar') %>  

        <!--Sucursales-->
        <section class="sucursales-section" id="sucursales-section">
            <h1 class="sucursal">Encontra tu sucursal!</h1>      
            <div class="card-group">
            <div class="card">
                <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105112.50638668319!2d-58.55158074928917!3d-34.584791462327146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb436efe09303%3A0xfb39818e7624ac76!2sDigital%20House!5e0!3m2!1ses!2sar!4v1593977043726!5m2!1ses!2sar" width="355" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                <div class="card-body">
                <h5 class="card-title">Sucursal Belgrano</h5>
                <p class="card-text">AV. los mareados 1414<br>Horarios: Lunes a Viernes 11:00 a 20:00 Hs.<br>Sabados 10:00 a 14:00 Hs.<br>Comunicate con nosotros para lo que necesites<br>+549-11-4444-4444.</p>
                <p class="card-text"><small class="text-muted">infoBelgrano@motostyle.com</small></p>
                </div>
            </div>
            <div class="card">
                <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105112.50638668319!2d-58.55158074928917!3d-34.584791462327146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb436efe09303%3A0xfb39818e7624ac76!2sDigital%20House!5e0!3m2!1ses!2sar!4v1593977043726!5m2!1ses!2sar" width="355" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                <div class="card-body">
                <h5 class="card-title">Sucursal Munro</h5>
                <p class="card-text">Calle los ochos 888<br>Horarios: Lunes a Viernes 11:00 a 20:00 Hs.<br>Sabados 10:00 a 14:00 Hs.<br>Comunicate con nosotros para lo que necesites<br>+549-11-7777-7777</p>
                <p class="card-text"><small class="text-muted">infoMunro@motostyle.com</small></p>
                </div>
            </div>
            <div class="card">
                <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105112.50638668319!2d-58.55158074928917!3d-34.584791462327146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb436efe09303%3A0xfb39818e7624ac76!2sDigital%20House!5e0!3m2!1ses!2sar!4v1593977043726!5m2!1ses!2sar" width="355" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                <div class="card-body">
                <h5 class="card-title">Sucursal Centro</h5>
                <p class="card-text">Av. los siete 777<br>Horarios: Lunes a Viernes 11:00 a 20:00 Hs.<br>Sabados 10:00 a 14:00 Hs.<br>Comunicate con nosotros para lo que necesites<br>+549-11-5555-5555</p>
                <p class="card-text"><small class="text-muted">infoCentro@motostyle.com</small></p>
                </div>
            </div>
            </div>
            <div class="d-lg-none card">
            <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105112.50638668319!2d-58.55158074928917!3d-34.584791462327146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb436efe09303%3A0xfb39818e7624ac76!2sDigital%20House!5e0!3m2!1ses!2sar!4v1593977043726!5m2!1ses!2sar" width="355" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            <div class="card-body">
                <h5 class="card-title">Sucursal Tigre</h5>
                <p class="card-text">Calle Losnueve 999<br>Horarios: Lunes a Viernes 11:00 a 20:00 Hs.<br>Sabados 10:00 a 14:00 Hs.<br>Comunicate con nosotros para lo que necesites<br>+549-11-3333-333</p>
                <p class="card-text"><small class="text-muted">infoTigre@motostyle.com</small></p>
            </div>
            </div>
        </div>   
      <div class="d-none d-lg-block padre">
         <div class="tigre">
          <figure> 
            <img class="concesionaria" src="/asset/img/Nosotros/concesionaria.jpg" alt="Foto logo Moto Style">
          </figure>
           <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105112.50638668319!2d-58.55158074928917!3d-34.584791462327146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb436efe09303%3A0xfb39818e7624ac76!2sDigital%20House!5e0!3m2!1ses!2sar!4v1593977043726!5m2!1ses!2sar" width="355" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
           <h5 class="card-tigre">Sucursal Tigre</h5>
           <p class="card-tigre">Calle Losnueve 999<br>Horarios: Lunes a Viernes 11:00 a 20:00 Hs.<br>Sabados 10:00 a 14:00 Hs.<br>Comunicate con nosotros para lo que necesites<br>+549-11-3333-333</p>
           <p class="card-tigre"><small class="text-muted">infoTigre@motostyle.com</small></p>
           
         </div> 
       </div>
          <h2 class="sucursales-h2">Te estamos esperando</h2>
        </section>
    </main>  
 
  <!--Footer-->
  <%- include('../partials/footer') %>
</section>

<!--Script de boostrap-->
<%- include('../partials/scripts') %>
</body>
</html>
