<!DOCTYPE html>
<html lang="en">
    <!--Head-->
    <%- include('../partials/head') %>
<body>
        <!--Header-->
        <%- include('../partials/header') %>
        <!--NavBar lateral-->
        <%- include('../partials/navBar') %>     
        <!--Contenedor-->        
        <main class="login-container" id="login-container"> 
            <!--Barra de busqueda-->
            <%- include('../partials/searchBar') %> 
        <!--Comienza el formulario-->        
           <form action="/login" method="POST" class="boxlogin" > 
            <div class="position-absolute d-none d-lg-flex justify-content-lg-center align-items-lg-center" id="div-back">
                <div class="rounded" id="div-color-bg"></div>
            </div>
           <div class="absolute"> 
           <h2 class="text-center"><br>LOGIN<br></h2> 
           <div class="text-center"><label for="email">Email</label>
            <% if(typeof(errors) != 'undefined' && errors.email){%>
                <div class="text-danger text-center" >
                  <%= errors.email.msg %>
                </div>
            <%}%>
           </div>
           <!-- aca atrapo los errores del lado del front -->
           <div>
               <ul id="errores"></ul>
           </div>
        <% if (typeof(errores)!='undefined'){ %> 
            <ul class="alert alert-danger ">
                <% errores.forEach(error =>{ %>
                    <li><%= error.msg %> </li>
                <%})%> 
            </ul>            
        <% } %> 
        <div class="text-center"><input class=" rounded-pill border-0 mb-2 text-center" type="text" name="email" id="user-input" value="<%=typeof old=='undefined'? '':old.email %>"></div>
        <div class="text-center"><label for="password">Contraseña</label>
         <% if(typeof(errors) != 'undefined' && errors.password){%>
                <div class="text-danger text-center">
                  <%= errors.password.msg %>
                </div>
             <%}%>
        </div>
        <div class="text-center"><input class="rounded-pill border-0 mb-2 text-center" type="password" name="password" id="password-input"></div>
        <div class="text-center mt-2"><input class="mr-2" type="checkbox" name="rememberme" id="rememberme"><label for="rememberme"> Recordame</label> </div>
        <div class="text-center mt-2"><button class="login-button btn btn-light rounded-pill border-0" type="submit">Iniciar sesión</button></div>
        <div class="text-center mt-3"><a class="login-button rounded-pill" href="/register">Creá tu usuario</a></div>
 <!--<div class="text-center mt-3"><a href="/passwordRecovery">Olvidé mi contraseña</a></div> -->
</div>
<video onloadedmetadata=this.muted=true autoplay loop>
    <source src="../asset/img/users/video.mp4">
</video>    
    </form>
    </main>
        <!--Footer-->
        <%- include('../partials/footer') %> 
<!--Script de boostrap-->
<%- include('../partials/scripts') %>   
<script src="/js/login.js"></script>
</body>
</html>

                       
   
   