<!DOCTYPE html>
<html lang="en">
    <!--Head-->
    <%- include('../partials/head') %>
<body>
    <section id="all-container">
        <!--Header-->
        <%- include('../partials/header') %>
        <!--Modal de login-->
        <%- include('../partials/loginModal') %>        
        <!--NavBar lateral-->
        <%- include('../partials/navBar') %>     
        <!--Contenedor-->        
        <main class="page-container" id="page-container">  
            <!--Barra de busqueda-->
            <%- include('../partials/searchBar') %>                  
        <!--passwordRecovery-->
        <section class="containerpass">
        <div class="box">
           <h2 text-center>Olvidaste tu contraseña?<br><h5>Nos pondremos en contacto para ayudarte</h5></h2> 
           <form>
               <div class="inputBox">
                   <input type="email" name="email" required="">
                   <label>Indicanos tu dirección de email</label>
               </div>
               <input class="submit" type="submit" name="" value="Continuar">
           </form>
           <div class="subtexto text-center">
           <h5>Te enviaremos las instrucciones a tu casilla de correo para que puedas reestablecer tu contraseña.</h5>
           </div>  
        </div>
           </section>
    </main>
    <!--Footer-->
    <%- include('../partials/footer') %>
</section>

<!--Script de boostrap-->
<%- include('../partials/scripts') %>
</body>
</html>