<!DOCTYPE html>
<html lang="en">
    <!--Head-->
    <%- include('../partials/head') %>
<body>
    <section class="register-container">
        <!--Header-->
        <%- include('../partials/header') %>
        <!--Modal de login-->
        <%- include('../partials/loginModal') %>       
        <!--NavBar lateral-->
        <%- include('../partials/navBar') %> 
        <main class="page-containerprofile" id="page-containerprofile">
            <!--Barra de busqueda-->
            <%- include('../partials/searchBar') %>
            <section class="profile" id="profile">
                <h4 class="register-title mt-2" id="register-title"></i></h4>
             <!--Datos del usuario-->     
                             
                <div class="div-form d-flex flex-column align-items-center" id="div-form">
                    <form class="rounded contenedor-datos-user" action="/user/update/<%=user.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
               
            <!--Actualizar avatar-->          
                     <div class ="avatarprofile">
                        <img class='img-circle' src='/asset/img/users/<%= user.image %>'/> 
                     </div>  
                        <div class="text-center">
                            <input class="rounded-pill text-center border-0 mb-2" type="file" name="avatar" id="avatar-input">
                            <input type="hidden" name="oldAvatar" value="<%= user.image%>">
                        </div>
            <!--Actualizar nombre-->             
                        <div class="text-center">
                            <label for="firstName">Nombre</label> 
                                  <% if(typeof(errors) != 'undefined' && errors.firstName){%>
                                <div class="text-danger text-center">
                                  <%= errors.firstName.msg %>
                                </div>
                             <%}%>
                        </div> 
                        <div class="text-center">
                            <input class="rounded-pill text-center border-0 mb-2" type="text" name="firstName" id="firstName-input" value="<%=user.firstName %>">
                        </div>
            <!--Actualizar apellido-->             
                        <div class="text-center">
                            <label for="lastName">Apellido</label>
                            <% if(typeof(errors) != 'undefined' && errors.lastName){%>
                                <div class="text-danger text-center">
                                  <%= errors.lastName.msg %>
                                </div>
                             <%}%>
                        </div>
                        <div class="text-center">
                            <input class="rounded-pill text-center border-0 mb-2" type="text" name="lastName" id="lastName-input"value="<%= user.lastName %>">
                        </div>
                        <div class="text-center">
            <!--Actualizar dni-->                
                            <label for="dni">dni</label>
                            <% if(typeof(errors) != 'undefined' && errors.dni){%>
                                <div class="text-danger text-center">
                                  <%= errors.dni.msg %>
                                </div>
                             <%}%> 
                        </div> 
                        <div class="text-center"> 
                            <input class="rounded-pill text-center border-0 mb-2" type="text" name="dni" id="dni-input"value="<%= user.dni ? user.dni : '' %>"> 
                        </div>
            <!--Actualizar adress-->            
                        <div class="text-center">
                            <label for="adress">Dirección</label>
                            <% if(typeof(errors) != 'undefined' && errors.adress){%>
                                <div class="text-danger text-center">
                                  <%= errors.adress.msg %>
                                </div>
                             <%}%>
                        </div>
                        <div class="text-center">
                            <input class="rounded-pill text-center border-0 mb-2" type="text" name="adress" id="direction-input"value="<%= user.adress ? user.adress : '' %>">
                        </div>
            <!--Actualizar número de teléfono-->            
                        <div class="text-center">
                            <label for="telephone">Número de teléfono</label>
                            <% if(typeof(errors) != 'undefined' && errors.telephone){%>
                                <div class="text-danger text-center">
                                  <%= errors.telephone.msg %>
                                </div>
                             <%}%>
                        </div>
                        <div class="text-center">
                            <input class="rounded-pill text-center border-0 mb-2" type="text" name="telephone" id="telephone-input" value="<%= user.telephone ? user.telephone : '' %>">
                        </div>
            <!--Actualizar password y confirmación-->            
                       <!-- <div class="text-center">
                            <label for="password">Contraseña</label>
                            <% if(typeof(errors) != 'undefined' && errors.password){%>
                                <div class="text-danger text-center">
                                  <%= errors.password.msg %>
                                </div>
                             <%}%>
                        </div>
                        <div class="text-center">
                            <input class="rounded-pill text-center border-0 mb-2" type="password" name="password" id="password-input">
                        </div>
                        <div class="text-center">
                            <label for="repassword">Confirmar contraseña</label>
                            <% if(typeof(errors) != 'undefined' && errors.confirmPassword){%>
                                <div class="text-danger text-center">
                                  <%= errors.confirmPassword.msg %>
                                </div>
                             <%}%>
                        </div>
                        <div class="text-center">
                            <input class="rounded-pill text-center border-0 mb-2" type="password" name="confirmPassword" id="confirmPassword-input">
                        </div> -->
                        <div class="text-center mt-2">
                            <button class="profile-button btn btn-danger rounded-pill border-0" type="submit">Actualizar</button>
                        </div> 
                    </form>
                </div>
                <div class="beneficios-div mt-2" id="beneficios-div">
                    <h5>Disfrutá de nuestros beneficios</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, tenetur nesciunt eligendi praesentium recusandae voluptatibus itaque. Itaque dolores mollitia dicta, aliquid ea blanditiis eos vitae sint ex ab molestiae, quae, voluptatibus voluptas nisi. Rem, similique? Repellendus, atque itaque assumenda fuga tempore deserunt veritatis rem reiciendis officia minima a alias porro ut nulla, totam vero vel qui voluptate quis aliquam commodi nostrum blanditiis odio. Molestiae provident quis totam et sit molestias facilis inventore blanditiis alias nemo aliquam, impedit magni saepe laborum ipsam, illum recusandae non iure iste perspiciatis, modi culpa fuga rem sint? Optio commodi suscipit eius ducimus eaque, quaerat ex.</p>
                </div>
            </section>
        </main>
        <!--Footer-->
        <%- include('../partials/footer') %>
    </section>
    <!--Script de boostrap-->
    <%- include('../partials/scripts') %>
</body>
</html>